{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.statuses.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'admin.statuses.list.header' | trans({}, 'admin') }}</h1>
            <a href="{{ path('admin_statuses_add') }}" class="btn btn-large btn-primary">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;{{ 'status.actions.add' | trans({}, 'entities') }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'status.attributes.id' | trans({}, 'entities') }}</th>
                    <th>{{ 'status.attributes.name' | trans({}, 'entities') }}</th>
                    <th>{{ 'admin.actions' | trans({}, 'admin') }}</th>
                </tr>
                </thead>
                <tbody>
                    {% if statuses | length > 0 %}
                        {% for status in statuses %}
                            <tr>
                                <td>{{ status.id }}</td>
                                <td>{{ status.name }}</td>
                                <td>
                                    <a href="{{ path('admin_statuses_view', {'id': status.id}) }}" title="{{ 'role.actions.view' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-search"></i></a>&nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
