{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.statuses.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content -%}
    <div class="container">
        <h1>{{ 'Status list'|trans }}</h1>
        {% if statuses|length > 0 %}
            <table class="records_list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for status in statuses %}
                    <tr>
                        <td><a href="{{ path('admin_statuses_view', { 'id': status.id }) }}">{{ status.id }}</a></td>
                        <td>{{ status.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

            <ul>
            <li>
                <a href="{{ path('admin_statuses_add') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
