{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.users.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'admin.users.index.header' | trans({}, 'admin') }}</h1>
            <a href="{{ path('admin_user_add') }}" class="btn btn-large btn-primary">
                <i class="glyphicon glyphicon-plus"></i>&nbsp;{{ 'user.actions.add' | trans({}, 'entities') }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'user.attributes.id' | trans({}, 'entities') }}</th>
                    <th>{{ 'user.attributes.email' | trans({}, 'entities') }}</th>
                    <th>{{ 'user.attributes.fullname' | trans({}, 'entities') }}</th>
                    <th>{{ 'user.attributes.roles' | trans({}, 'entities') }}</th>
                    <th>{{ 'user.attributes.projects' | trans({}, 'entities') }}</th>
                    <th>{{ 'admin.actions' | trans({}, 'admin') }}</th>
                </tr>
                </thead>
                <tbody>
                {% if users | length > 0 %}
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.fullname }}</td>
                            <td>
                                {% if user.roles | length > 0 %}
                                    {{ user.roles[0].name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if user.projects | length > 0 %}
                                    {{ user.projects[0].name }}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('admin_user_view', {'user_id': user.id}) }}" title="{{ 'user.actions.view' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-search"></i></a>&nbsp;
                                <a href="{{ path('admin_user_edit', {'user_id': user.id}) }}" title="{{ 'user.actions.edit' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;
                                <a href="{{ path('admin_user_delete', {'user_id': user.id}) }}" title="{{ 'user.actions.delete' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
