{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.projects.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'board.actions.index' | trans({}, 'entities') }}</h1>
        </div>
    </div>
    <div class="row">
        {% if boards | length > 0 %}
            {% for board in boards %}
                <div class="col-md-4">
                    <div class="col-md-10 col-md-offset-1 well text-center">
                        <h3>{{ board.name }}</h3>
                        {% if (board.tasks) | length > 0 %}
                            {% for task in (board.tasks) %}
                                <p>{{ task.name }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <h1>{{ 'Board list'|trans }}</h1>
        {% if boards|length > 0 %}
            <table class="records_list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for board in boards %}
                    <tr>
                        <td><a href="{{ path('project_boards_view', { 'id': board.id, 'project_id': board.project.id }) }}">{{ board.id }}</a></td>
                        <td>{{ board.name }}</td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('project_boards_view', { 'id': board.id, 'project_id': board.project.id }) }}">view</a>
                            </li>
                            <li>
                                <a href="{{ path('project_boards_edit', { 'id': board.id, 'project_id': board.project.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <ul>
            <li>
                <a href="{{ path('project_boards_add', { 'project_id': boards[0].project.id }) }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
