{% extends 'AppBundle:Default:user_form.html.twig' %}

{% block title %}{{ 'app.registration.title' | trans({}, 'application') }}{% endblock %}

{% block content %}
    <h1>
        {{ 'app.registration.confirmed' | trans({}, 'application') }}
        <small>{{ 'app.registration.now_only' | trans({}, 'application') }}
              <a href="{{ path('user_login') }}">
                  {{ 'app.registration.login' | trans({}, 'application') }}
              </a>.
        </small>
    </h2>
{% endblock %}
