{% block body %}
    <div class="container">
        <nav>
            <div class="navbar-inner">
                <a href="{{ path('admin_dashboard') }}" class="brand">{{ 'admin.menu.brand' | trans({}, 'admin') }}</a>
                {% block menu %}
                    <ul class="nav">
                        <li><a href="{{ path('admin_dashboard') }}">{{ 'admin.menu.dashboard' | trans({}, 'admin') }}</a></li>
                        <li><a href="{{ path('admin_users_list') }}">{{ 'admin.menu.users' | trans({}, 'admin') }}</a></li>
                        <li><a href="{{ path('logout') }}">{{ 'admin.menu.logout' | trans({}, 'admin') }} <i class="icon-off"></i></a></li>
                    </ul>
                {% endblock menu %}
            </div>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
