{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.dashboard.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="span12 page-header">
            <h1>{{ 'dashboard.hello' | trans({'%name%':current_user_name}, 'dashboard') }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-1 well well-lg">
          <dl class="text-center">
                <dt>
                    <a href="{{ path('admin_projects_index') }}">{{ 'admin.menu.projects' | trans({}, 'admin') }}
                        ({{ projects_amount }})
                    </a>
                    {% if projects | length > 0 %}
                        {% for project in projects %}
                            <dd>{{ project.name }}</dd>
                        {% endfor %}
                    {% endif %}
                </dt>
            </dl>
        </div>
        <div class="col-md-3 col-md-offset-1 well well-lg">
          <dl class="text-center">
                <dt>
                    <a href="{{ path('admin_users_index') }}">{{ 'admin.menu.users' | trans({}, 'admin') }}
                        ({{ users_amount }})
                    </a>
                    {% if users | length > 0 %}
                        {% for user in users %}
                            <dd>{{ user.username }}</dd>
                        {% endfor %}
                    {% endif %}
                </dt>
            </dl>
        </div>
    </div>
{% endblock %}
