{% extends 'AppBundle:Default:user_form.html.twig' %}

{% block title %}{{ 'app.login.title' | trans({}, 'application') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-osset-2">
            <div class="page-header">
                <h1>{{ 'app.login.header' | trans({}, 'application') }}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-osset-2">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="username">{{ 'user.attributes.username' | trans({}, 'entities') }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"  class="form-control"/>
                </div>

                <div class="form-group">
                    <label for="password">{{ 'user.attributes.password' | trans({}, 'entities') }}</label>
                    <input type="password" id="password" name="_password"  class="form-control"/>
                </div>

                <button type="submit" class="btn btn-default">{{ 'app.login.button' | trans({}, 'application') }}</button>
                <a class="btn btn-default" href="{{ path('user_registration') }}">{{ 'app.registration.button' | trans({}, 'application') }}</a>
            </form>
        </div>
    </div>
{% endblock %}
