{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.roles.view.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 page-header">
            <h1>{{ 'admin.roles.show.header' | trans({}, 'admin') }} <small>{{ role.name }}</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('admin_users_index') }}"><i class="glyphicon glyphicon-list"></i> {{ 'user.actions.index' | trans({}, 'entities') }}</a><br/>
        </div>
        <div class="col-md-9 well well-lg">
            <dl class="dl-horizontal">
                <dt>{{ 'role.attributes.id' | trans({}, 'entities') }}</dt>
                <dd>{{ role.id }}</dd>
                <dt>{{ 'role.attributes.name' | trans({}, 'entities') }}</dt>
                <dd>{{ role.name }}</dd>
                <dt>{{ 'role.attributes.role' | trans({}, 'entities') }}</dt>
                <dd>{{ role.role }}</dd>
                <dt>{{ 'role.attributes.users' | trans({}, 'entities') }}</dt>
                {% if role.users | length > 0 %}
                    {% for user in role.users %}
                        <dd>{{ user.firstName }} {{ user.lastName }} ({{ user.username }})</dd>
                    {% endfor %}
                {% endif %}
            </dl>
        </div>
    </div>
{% endblock %}
