{% extends '::base.html.twig' %}

{% block body %}
    <nav>
        {% if app.user %}
            <b> Logged as {{ app.user.username }} </b>
            <a href="{{ path('logout') }}"> Log out </a>
            <a href="{{ path('projects') }}"> Projects </a>
            <a href="{{ path('roles') }}"> Roles </a>
        {% else %}
          <a href="{{ path('user_registration') }}"> Register </a>
          <a href="{{ path('login_route') }}"> Log in </a>
        {% endif %}
    </nav>
    <h1>
        Hello there!
    </h2>
{% endblock %}
