{% extends 'base.html.twig' %}

{% block body %}
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <a href="{{ path('user_dashboard') }}" class="navbar-brand">{{ 'user.menu.brand' | trans({}, 'user') }}</a>
            </div>
            <div class="collapse navbar-collapse">
                {% block menu %}
                    <ul class="nav navbar-nav">
                        {% if is_granted('ROLE_ADMIN') %}
                            <li><a href="{{ path('admin_dashboard') }}">{{ 'admin.dashboard.title' | trans({}, 'admin') }}</a></li>
                        {% endif %}
                            <li><a href="{{ path('projects') }}">{{ 'user.menu.projects' | trans({}, 'user') }}</a></li>
                    </ul>
                {% endblock menu %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">{{ 'app.menu.logged_as' | trans({'%email%':app.user.email}, 'application') }}</a></li>
                    <li><a href="{{ path('user_dashboard') }}">{{ 'user.menu.user' | trans({}, 'user')}}</a></li>
                    <li><a href="{{ path('logout') }}">{{ 'logout' | trans({}, 'user') }} <i class="glyphicon glyphicon-off"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for flashMessage in app.session.flashbag.get('success') %}
                {{ include('AppBundle:Flash:flash_success.html.twig', { 'message': flashMessage }) }}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('info') %}
                {{ include('AppBundle:Flash:flash_info.html.twig', { 'message': flashMessage }) }}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                {{ include('AppBundle:Flash:flash_warning.html.twig', { 'message': flashMessage }) }}
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                {{ include('AppBundle:Flash:flash_error.html.twig', { 'message': flashMessage }) }}
            {% endfor %}
        </div>
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}
