{% extends '::base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <h1>{{ 'Add Project'|trans }}</h1>

    <div>{{ form_errors(form) }}</div>
    {{ form(form, {'method': 'POST'}) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('projects') }}">{{ 'Back to the list'|trans }}</a>
        </li>
    </ul>
{% endblock %}
