{% extends 'AppBundle:Default:navbar.html.twig' %}

{% block title %}{{ 'admin.projects.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12 page-header">
                <h1>{{ 'user.projects.index.header' | trans({}, 'user') }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'project.attributes.id' | trans({}, 'entities') }}</th>
                        <th>{{ 'project.attributes.name' | trans({}, 'entities') }}</th>
                        <th>{{ 'project.attributes.description' | trans({}, 'entities') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if projects | length > 0 %}
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>
                                    <a href="{{ path('projects_view', {'id': project.id}) }}" title="{{ 'project.actions.view' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-search"></i></a>&nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
