{% extends 'AppBundle:Default:navbar.html.twig' %}

{% block title %}{{ 'admin.projects.index.title' | trans({}, 'admin') }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="col-md-12 page-header">
                <h1>{{ 'admin.projects.index.header' | trans({}, 'admin') }}</h1>
                <a href="{{ path('admin_projects_add') }}" class="btn btn-large btn-primary">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;{{ 'project.actions.add' | trans({}, 'entities') }}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>{{ 'project.attributes.id' | trans({}, 'entities') }}</th>
                        <th>{{ 'project.attributes.name' | trans({}, 'entities') }}</th>
                        <th>{{ 'project.attributes.description' | trans({}, 'entities') }}</th>
                        <th>{{ 'admin.actions' | trans({}, 'admin') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if projects | length > 0 %}
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.id }}</td>
                                <td>{{ project.name }}</td>
                                <td>{{ project.description }}</td>
                                <td>
                                    <a href="{{ path('projects_view', {'id': project.id}) }}" title="{{ 'project.actions.view' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-search"></i></a>&nbsp;
                                    <a href="{{ path('projects_edit', {'id': project.id}) }}" title="{{ 'project.actions.edit' | trans({}, 'entities') }}"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock %}
