{% extends '::base.html.twig' %}

{% block body %}
    <h1>Project</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Users assigned to project</th>
                {% for user in project.users %}
                    <td>{{ user.username }}</td>
                {% endfor %}
                </th>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projects') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('projects-tasks-add', { 'project_id': project.id }) }}">
            Add task
        </a>
    </li>
    <li>
        <a href="{{ path('projects-edit', { 'id': project.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('projects-delete', { 'id': project.id }) }}">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
