{% extends 'AppBundle:Admin:navbar.html.twig' %}

{% block title %}{{ 'admin.projects.view.title' | trans({}, 'admin') }}{% endblock %}

{% block content -%}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ project.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Users assigned to project</th>
                {% for user in project.users %}
                    <td>{{ user.username }}</td>
                {% endfor %}
                </th>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('projects_index') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('project_boards_add', { 'project_id': project.id }) }}">
            Add board
        </a>
    </li>
    <li>
        <a href="{{ path('projects_edit', { 'id': project.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <a href="{{ path('admin_projects_delete', { 'id': project.id }) }}">
            Delete
        </a>
    </li>
</ul>
{% endblock %}
